.AddForm label{
    font-size:1.2rem;
    color:black;
    font-weight: bold;
    margin-top:4rem;
    display:inline-block;

}

.AddForm button{
    margin-top:2rem;
    margin-right: 1rem;
}
.Button{
    margin-top:10rem;
}